rent-collection-backend/node_modules/
rent-collection-backend/.env

rent-management-frontend/node_modules/
my-project/node_modules/
Frontend/node_modules/
Frontend/.env
frontend_for_pricehistory/node_modules/"rent-collection-backend/config/credentials.json" 
rent-collection-backend/config/credentials.json
**/.env
