@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: white; /* Remove dark mode default */
  color: black;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #064e3b; /* Dark green */
  text-decoration: none;
}

a:hover {
  color: #047857; /* Lighter green */
}
